body {
    background-color: #f3f4f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    max-width: 360px;
    margin-top: 40px;
    text-align: center;
}

h1 {
    color: #45b34f;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 46px;
}

.card {
    width: 100%;
    background: transparent;
    padding: 0 20px;
}

.password-row {
    display: grid;
    grid-template-columns: 1fr 82px;
    gap: 0;
    margin-bottom: 12px;
}

#passwordOutput {
    border: none;
    background: #d8d8d8;
    border-radius: 10px 0 0 10px;
    padding: 9px 10px;
    font-size: 14px;
    color: #4e4e4e;
    outline: none;
}

#copyBtn {
    border: none;
    border-radius: 0 10px 10px 0;
    background: #45b34f;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.length-row {
    display: grid;
    grid-template-columns: 1fr 52px;
    gap: 10px;
    align-items: center;
    margin-bottom: 12px;
}

#lengthRange {
    width: 100%;
}

.length-value {
    background: #d8d8d8;
    border-radius: 10px;
    padding: 8px 0;
    color: #4e4e4e;
    font-weight: 600;
}

.options-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-bottom: 12px;
}

.options-grid label {
    background: #d8d8d8;
    border-radius: 10px;
    padding: 9px 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    color: #3f3f3f;
}

.generate-btn {
    width: 100%;
    border: none;
    border-radius: 10px;
    background: #45b34f;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
}
